* {
  margin: 0;
}
body {
  background-image: url(./assets/2.jpg);
   background-attachment : fixed ;
}
header {
  padding: 20px 0 0 80px;
      position: sticky;
  top: 0;


}
.menu {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  padding: 5px;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.menu:hover {
  background-color: #7ed957;
  color: black;
}
.menu:active {
  box-shadow: inset 0 0 15px #000000;
}
#logo {
  font-size: 41px;
  font-family: "Contrail One", sans-serif;
  text-decoration: none;
  
  
}
#fit {
  color: white;
  position: fixed;
  top: 50px;
  display: inline;
}
#lite {
  color: #7ed957;
    position: fixed;
  top: 75px;

}
#dt {
  margin: 0 0 0 100px;
}

#geral {
  margin: 100px 0 0 40px ;
  width: 600px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  padding: 30px;
  
}
