* {
  margin: 0;
}
body {
  background-image: url(./assets/1.jpg);
}
header {
  padding: 72px 58px;
  position: sticky;
  top: 0;
}
.menu {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  padding: 5px;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.menu:hover {
  background-color: #7ed957;
  color: black;
}
.menu:active {
  box-shadow: inset 0 0 15px #000000;
}
#home {
  background-color: #7ed957;
  color: black;
}
#pq {
  margin: 0 0 0 800px;
}
#cad {
  margin: 0 0 0 30px;
}
main {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  color: white;
  font-style: italic;
  height: 800px;
}
#mensagem {
  text-align: right;
}
#mens {
  width: 400px;
  margin: 300px 0 0 0;
  display: inline-block;
  text-align: right;
}
#venha {
  width: 300px;
  margin: 0 0 15px 70px;
}
#seta {
  background-color: #7ed957;
  padding: 1px;
  width: 398px;
}
#beneficios {
  text-align: center;
}
#bn-mensagem {
  display: inline-block;
  width: 300px;
}
#bn-icon {
  display: inline-block;
}
#halt {
  border-radius: 100px;
  background-image: url(assets/halt.jpg);
  width: 48px;
  height: 48px;
  border: none;
}
#halt:hover {
  cursor: pointer;
  background-image: url(assets/hover-halt.jpg);
}
#halt:active {
  box-shadow: inset 0 0 15px #000000;
}
footer {
  background-color: rgb(54, 54, 54);
  text-align: center;
  padding: 20px;
  box-shadow: 3px 3px 5px #000000;
}
.foto {
  width: 30px;
  display: inline-block;
  margin: 0 45px 0 0;
}
.nome {
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  color: white;
  font-style: italic;
  display: inline-block;
}
#Linkedin {
  color: #0e76a8;
}
#Linkedin:hover {
  color: rgb(88, 88, 88);
}
