* {
  margin: 0;
}
body {
  background-image: url(./assets/3.jpg);
}
header {
  padding: 20px 0 0 80px;
}
.menu {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  padding: 5px;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.menu:hover {
  background-color: #7ed957;
  color: black;
}
#logo {
  font-size: 41px;
  font-family: "Contrail One", sans-serif;
  text-decoration: none;
}
#fit {
  color: white;
  position: fixed;
  top: 50px;
  display: inline;
}
#lite {
  color: #7ed957;
  position: fixed;
  top: 75px;
}
#dt {
  margin: 0 0 0 100px;
}
#treinos {
  background-color: #7ed957;
  color: black;
}
main {
  margin: 80px 0 0 0;
  padding: 100px;
  color: white;
}

#ob {
  font-size: 53px;
  font-family: "Contrail One", sans-serif;
}
#linha {
  padding: 1px;
  background-color: white;
  width: 500px;
  margin: 15px 70px;
}
#select {
  text-align: center;
}
.links{
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 10px;
}
.links:hover{
  background-color: #7ed9576e;
}
.opt {
  display: inline-flex;
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 0 50px;
  justify-content: center;
}
img {
  height: 50px;
}
#halter {
  height: 40px;
}
#info {
  height: 300px;
  padding: 30px;
  text-align: center;
}
.if {
  background-color: #7ed95765;
  border-radius: 20px;
  display: inline-flex;
  max-width: 340px;
  margin: 0 50px;
  padding: 30px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  height: 320px;
  text-align: left;
}
